.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 380px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .nav {
  color: #ff7473;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 40px;
  padding: 0 36px;
  list-style: none;
}

.nav ul li {
  cursor: pointer;
}

.nav ul li:not(:last-child) {
  margin-right: 36px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
